<link rel="stylesheet" href="/public/style.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<ul class="header">
    <li>
        <a href="/">HOME</a> 
    </li>
    <li>
        <a href="/create">Create</a> 
    </li>
    <li>
        <a href="/view">View</a> 
    </li>
</ul>