<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    상세페이지
    <%= board.title %>
    <%= board.content %>
    <img src="<%= board.imgPath%>" alt="">


</body>
</html>