<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <%- include("../common/header") %>
    <form id = "login_form">
        <label for="">아이디</label>
        <input type="text" name ="uid">
        <label for="">비밀번호</label>
        <input type="text" name = "upw">
        <button>로그인</button>
    </form>
</body>
<script>
    login_form.onsubmit = async (e) => {
        e.preventDefault();
        const {uid : {value:uidValue}, upw : {value : upwValue}} = e.target;
        const {data} = await axios.post("/user/login", {uidValue, upwValue});
        console.log(data);

        if(data.state===200){
            location.href = "/"
        }else if(data.state===401) {
            alert("아이디를 확인하세요")
        }else if(data.state===402){
            alert("비밀번호를 확인하세요")
        }
        locaion.reload();
    }
</script>
</html>