<link rel="stylesheet" href="/public/style.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<ul class = "header">
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/user/login">Login</a>
    </li>
    <li>
        <a href="/user/signup">Signup</a>
    </li>
</ul>