<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <%- include('header') %>
    <div>메인페이지</div>
    <div id = "user_info">
        <div> </div>

    </div>
</body>
</html>