<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
</head>
<body>
    <%- include('header') %>
    <div>아이디 : <%= uid %></div>
    <div>닉네임 : <%= nick %></div>
    <div><img src="<%= imgpath %>" alt=""></div>
</body>
</html>