<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edit" method="post" id="form_input">
        <input type="hidden" name="index" value="<%= index %>">
        <label for="">제목</label>
        <input type="text" name="editTitle">
        <label for="">내용</label>
        <input type="text" name="editContent">
        <button>완료</button>
    </form>
</body>
</html>
