<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    메인 페이지
    <a href="/user/login">유저 로그인</a>
    <a href="/user/signup">유저 회원가입</a>
</body>
</html>