<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원가입 페이지</h1>
    <form action="/signup" method="post">
        <label for="">아이디</label>
        <input type="text" name="uid">
        <label for="">비밀번호</label>
        <input type="text" name="upw">
        <button>가입</button>
    </form>
</body>
</html>